.post h1,
.post h2 {
  margin: 1rem 0 0 0 !important;
}
.post h2 {
  font-size: 1.1rem !important;
}
.post h3 {
  text-decoration: none !important;
}
#toc {
  max-width: 27.5vw !important;
}
.toc-level-1 {
  margin-top: 8px !important;
}
